{% include 'head.html' %}

<body>
    <header role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">        
			<a class="nav-link" href='/' style="color:white;"> Accueil</a>
            <a class="nav-link" href='/list' style="color:white;">Todolist </a>
            <a class="nav-link" href='/add' style="color:white;"> Ajouter un todo </a>
            <!--<a class="nav-link" href='/remove' style="color:white;"> Retirer un todo</a>-->
            <a class="nav-link" href='/remove_list' style="color:white;"> Retirer todo</a>
			<a class="nav-link" href='/modify' style="color:white;">Modify</a>

      </nav>
    </header>
		<div class="content" >
			<div class="modal-body">
				<form action="" method="post">
					<div class="row align-items-start">
						<div class="col-3 col-sm-1">
							<label style="padding-top:15px;" for="description">Description </label>
						</div>
						<div class="col-7" style="padding-left:20px;">
							<input class="form-control input" type="text" name="description" placeholder="Todo description"></input><br>
						</div>	
						<div class="col-4 col-sm-1">
							<button style="margin-top:10px;" class="btn btn-primary" type="submit" value="valider">Valider</button>
						</div>
					</div>
                </form>

					<div class="modal-body">
					<h4> Todolist : </h4>
					{% for todo in list_todo%}
						<li>{{todo._id_t}} : {{todo._description}}</li>
					{% endfor %}
			</div>
		</div>
	</body>
</html>
